{{> header}}
{{> adminNavbar}}
<div class="container-fluid">
{{> sidebar}}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  {{#each movies}}
      <div class="container py-3">
          <h3>{{this.name}}</h3>
          <div class="row">
              <div class="col">
                <img src="{{this.poster}}" alt="" style="height: 400px;">
              </div>
              <div class="col">
                <a class="btn btn-warning me-2" href="/edit/{{this.id}}">edit</a>
                <a class="btn btn-danger" href="/delete/{{this.id}}">Delete</a>
                <h4 class="mt-3">Sinopsis</h4>
                  <p>{{this.sinopsis}}</p>
                <h4>Duration :</h4>
                <p>{{this.duration}}</p>
              </div>
              <div class="col"></div>
              <div class="col"></div>
          </div>
        </div>
      </div>
  {{/each}}
</main>
{{>footer}}